<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AutoCode.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <AutoCode.Settings>
            <setting name="StrConn" serializeAs="String">
                <value>data source=jhemr;user=emr;password=emr;</value>
            </setting>
            <setting name="DaoClassPath" serializeAs="String">
                <value>DaoClassPath</value>
            </setting>
            <setting name="ModelClassPath" serializeAs="String">
                <value>PO</value>
            </setting>
            <setting name="ServiceClassPath" serializeAs="String">
                <value>ServiceClassPath</value>
            </setting>
            <setting name="BasePath" serializeAs="String">
                <value>E:\MyProject\testPro\testPro</value>
            </setting>
            <setting name="NameSpace" serializeAs="String">
                <value>AutoCode</value>
            </setting>
            <setting name="UsingDLL" serializeAs="String">
                <value>using System;
using System.Collections.Generic;
using System.ComponentModel;
using System.Data;
using System.Drawing;
using System.Text;
using System.Windows.Forms;
using System.Reflection;
using System.Configuration;
using System.Threading;
using System.Data.OleDb;
using System.IO;
using System.Xml;
using System.Data.OracleClient;</value>
            </setting>
        </AutoCode.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IUser" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:61961/User.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IUser" contract="ServiceReference1.IUser"
                name="BasicHttpBinding_IUser" />
        </client>
    </system.serviceModel>
</configuration>
